.DS_Store
*.log
node_modules/
/dist/
.tmp
.sass-cache
/app/lib
.idea/
/docs/

##########Platforms##########
platforms/android/
platforms/ios/

##########Plugins##########
plugins/org.apache.cordova.device
plugins/org.apache.cordova.dialogs
plugins/org.apache.cordova.splashscreen

##########iOS##########
platforms/ios/cordova/console.log
